In [ ]:
# importing pandas and numpy libraries to import datset and creat data frames and pivot tables
import pandas as pd
import numpy as np

In [ ]:
##Importing datset from google drive with downloadble link.
file_path="https://drive.google.com/uc?export=download&id=1Igfusg_uVIzIXWJ1OlR62uYn2I1h2PsA"
## Creating dataframe for the cooling tower.
df=pd.read_csv(file_path)

In [ ]:
# Name of the datset is df.
df.tail(2)

In [ ]:
## Checking length of data set
print("The length of dataset is",len(df),".")

In [ ]:
## Dropping the rows withg missing and NaN values.
dff=df.dropna()

In [ ]:
## New datset with dropped values
dff.tail(2)

In [ ]:
## Checking the length of datset after dropping missing value's rows.
len(dff)

Note:

The above dropping conclude that most of the values in the data set were missing which is very serious concern. Proper record is necessay for all the cooling tower, because it is related to DOHMH and public health. We have to process our furthur exploration with the new datset with length 1446.

In [ ]:
## Finding the intended use of cooling tower in NYC.
dff["Intended_Use"].unique()

Q.N 1 (Answer)

From the data set we find that the cooling towers are use for: 

1.Air Conditining

2.Base Building HVAC

3.Condensate water

4.Refrigration.

Q.N 2

The makes of the cooling tower machines are displayed using pivot table with their counts for the reduced datas set.

In [ ]:
#CReating pivot table for count of differnet Make of tower.
Make=dff.pivot_table(values="NYC_Cooling_Tower_ID", index="Make", aggfunc="count")
Make

In [ ]:
## Creating pivot table for Cooling capacity units count.
ccu=dff.pivot_table(values="NYC_Cooling_Tower_ID", index="Cooling_Capacity_Units", aggfunc="count")

In [ ]:
ccu

Q.N 3 (Answer)

The different units of cooling capacity used are:
1. BTU/HR
2. CFM
3. REFRIGERATION TONS

Q.N 4
Plotting the different Make used in cooling tower using the bar chart with their counts.

In [ ]:

Make.plot.bar(figsize=(30,7))

Q.N 5
Draw bar chart and pie chart using intended use of cooling machine.

In [ ]:
##Creating data frame for intended use count using ID.
Use=df.pivot_table(values="NYC_Cooling_Tower_ID", index="Intended_Use",aggfunc="count")
Use

In [ ]:
#Plotting bar chart for intended use count for total machines.
Use.plot.bar()

In [ ]:
#Plotting pie chart for intended use count for total machines.
Use.plot(kind="pie",y="NYC_Cooling_Tower_ID",figsize=(10,10))

Q.N 6
plotting map of NYC with original and reduced data set to see the difference

In [ ]:
## importing the required libraries to plot map an scattor plot
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.pylab import rcParams
%config InlineBackend.figure_format = 'retina'

In [ ]:
# Original dataset
df.plot(figsize=(10, 10),kind="scatter",y="Latitude", x="Longitude")
plt.show()

In [ ]:
## reduced data set
dff.plot(figsize=(10, 10),kind="scatter",y="Latitude", x="Longitude")
plt.show()

note:

The original dataset has the dense scattor dots whereas reduced data set is very light, we can conclude that missing values cause data to loose many of the important information of different locations.

In [ ]:
##Printing the data frame.
dff

Q.N 7

creating pivot table for borough and number of cooling towers and counting value using bar graph.

In [ ]:
##Creating pivot table to count number of cooling towers in each borough and plotting graph.
borough=dff.pivot_table(values="NYC_Cooling_Tower_ID",index="Borough", aggfunc="count")
borough

In [ ]:
borough.plot.bar(figsize=(9,5))

Q.N 8
Plotting time series.

In [ ]:
# Processing data for time series analysis to convert date into datetime formate.
dff["Date_Registered"]=pd.to_datetime(dff["Date_Registered"])

In [ ]:
# Checking data type after conversion in date time.
dff.dtypes

In [ ]:
# Creating pivot table Borough and date register to count the cooling tower register on paticular date on each borough.
aa=dff.pivot_table(index="Date_Registered", values="NYC_Cooling_Tower_ID", columns="Borough",aggfunc="count")

In [ ]:
##Filling the NaN value as 0.
ccc=(aa.fillna(0))
ccc.head(1)

In [ ]:
# Setting the time range
dd=(ccc["2015-08-01":"2015-12-31"])

In [ ]:
##Plotting the time series 
dd.plot(figsize=(10,10))

 Conclusion:
 
 The above time series graph shows that manhattan has always highest number of registration from 2015-08-22 to 2015-12-22, 
which i geuss is the main city and many business and dense population might be the reason  and  and the staten island 
had the least registration.Brooklyn has the second highest registration duirng that period.

In [ ]:
## CReating a pivot table for Date registered and Intended to count registration of paticular type of cooling tower.
bbb=dff.pivot_table(index="Date_Registered", values="NYC_Cooling_Tower_ID", columns="Intended_Use",aggfunc="count")

In [ ]:
#Replacing the NaN value with 0.
bb1=bbb.fillna(0)

In [ ]:
# Setting the range for the time series.
gg=bb1["2017-09-01":"2018-01-30"]
gg.tail(2)

In [ ]:
## Plotting the time series.
gg.plot(figsize=(10,10))

Conclusion:

The above time series show that the registration of Air conditioning cooler tower was high from 2017-09 to 2017-11 and than small decline and the refrigration cooling tower were registered mostly in 2017-12 to 2018-01.

Q.N.9
Plotting the NYC map using foliuma and displaying the all the infomration of cooling towers using marker.

In [ ]:
## importing required library for map
import folium

In [ ]:
map=folium.Map(width=1500,height=1000,location=[dff["Latitude"].mean(),
                         dff["Longitude"].mean()],
               zoom_start=13, control_scale=True)

In [ ]:
for index, location_info in dff.iterrows():
    folium.Marker([location_info["Latitude"], location_info["Longitude"]], popup="Address: "+location_info["Address"]+"\nMOdel: "+location_info["Model"]+"\nMake: "+
                  location_info["Make"]+"\n"+"\nS.N: "+location_info["Serial_Number"]+"\n"+"\nC.capacity: "+location_info["Cooling_Capacity"]+"\n"+"C.C.units: "
                  +location_info["Cooling_Capacity_Units"]+"\n"+"\t\n"+"\nIntended Use: "+location_info["Intended_Use"]).add_to(map)

In [ ]:
map

In [ ]:
#########################################THE END########################################